<h1>Independent Two-Sample T test</h1>

This notebook provides an example code for hypyhesis testing: Two-sample T-test. Data was prepared in Excel.

In [2]:
import pandas as pd
Gender_data=pd.read_excel("segment.xlsx",sheetname="Disc_Gender")

C:\Users\HP\Anaconda3\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [3]:
Gender_data.head()

  Row Labels  Female       Male
0      Adams     0.0  63.666667
1      Allen     0.0  72.500000
2   Anderson     0.0  58.500000
3     Bailey    47.0   0.000000
4      Baker     0.0  61.750000

In [4]:
#let's see what is the average discount for all male and female customers
average_disc_male=Gender_data["Female"].mean()
average_disc_female=Gender_data['Male'].mean()
print(average_disc_female,average_disc_male)

30.911452380952387 27.8085

As output shows there is slight difference(about 2%) of average discount offered to male and female customers. Now, let's see wether this difference is significant or it's by chance.

In [5]:
#T-test should be run only for continous variables, also consider sample size (should not be too small)
from scipy import stats

In [14]:
#checking size of samples 
C_F=Gender_data["Female"].count()
C_M=Gender_data["Male"].count()
print(C_F, C_M)

100 100

In [15]:
stats.ttest_ind(Gender_data["Female"],
                Gender_data["Male"])

Ttest_indResult(statistic=-0.7165577261908106, pvalue=0.47449137372499306)