<h1>Conjoint Analysis with Linear Regression</h1>

<h3>5 stages for conducting Conjoint Analysis:</h3>
<ol>
<li> defining the profiles - understand what are the characteristics that you want to compare and what are the levels of each of those features.
<li> survey - use one of the survey tools, e.g. Google forms, to ask your customers to rank/rate the listed profiles (attention: not all theoretically possible profiles should be listed, choose only those that are reasonable).
<li> data transformation - use a data analysis tool (Excvel in our case) to trnasform the data into "analysis friendly" form (0s and 1s in our case).
<li> <b>estimation - use the transformed data to estimate utilities (using Python and statsmodels library in our case).</b>
<li> calculation of importance - use the results of the analysis to calculate the importanc of each feature.
</ol>

<h3>Survey</h3>
Last year, 33 students participated in a survey related to BA course. 12 class options were suggested to rate from relatively best(6) to relatively worst(1). An example of a class option is the following <I>[Applied class (using Python), conducted in the lab, final project:  startup idea]</I>. 
The collected data will be used to conduct conjoint analysis. 
<h3>Data transformation</h3>
Excel was used to transform the original data. Then, <b>results</b> were saved to Excel for further calculations.

In [10]:
import pandas as pd
from statsmodels.formula.api import ols

In [11]:
Data=pd.read_excel("conjoint_survey.xlsx")
Data.iloc[:20,:]

    ID  Rank  A1  A2  A3  B1  B2  C1  C2  C3
0    1     4   1   0   0   1   0   0   1   0
1    1     5   1   0   0   1   0   1   0   0
2    1     2   1   0   0   1   0   0   0   1
3    1     2   0   1   0   1   0   0   1   0
4    1     3   0   1   0   1   0   1   0   0
5    1     1   0   1   0   1   0   0   0   1
6    1     2   0   1   0   0   1   0   1   0
7    1     2   0   1   0   0   1   1   0   0
8    1     1   0   1   0   0   1   0   0   1
9    1     1   0   0   1   0   1   0   1   0
10   1     1   0   0   1   0   1   1   0   0
11   1     1   0   0   1   0   1   0   0   1
12   2     6   1   0   0   1   0   0   1   0
13   2     1   1   0   0   1   0   1   0   0
14   2     5   1   0   0   1   0   0   0   1
15   2     6   0   1   0   1   0   0   1   0
16   2     1   0   1   0   1   0   1   0   0
17   2     5   0   1   0   1   0   0   0   1
18   2     3   0   1   0   0   1   0   1   0
19   2     1   0   1   0   0   1   1   0   0

In [12]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 10 columns):
ID      396 non-null int64
Rank    396 non-null int64
A1      396 non-null int64
A2      396 non-null int64
A3      396 non-null int64
B1      396 non-null int64
B2      396 non-null int64
C1      396 non-null int64
C2      396 non-null int64
C3      396 non-null int64
dtypes: int64(10)
memory usage: 31.0 KB

In [6]:
# create an empty dataframe for storing the regression coefficients
# the empty dataframe will have 33 columns (one for each student's data)
coef_df=pd.DataFrame(columns=range(33))

In [7]:
# create a for loop (33 iterations - from 0 to 32)
# that will specify the model and the correct data: each student's data separately
# then fit the data, get parameters and write them in the correct column
for i in range(33):
    model_ols = ols(formula="Rank ~ A1 + A2 + A3 +B1 + B2 + C1 + C2 + C3", data=Data.iloc[i*12:i*12+12,1:])
    results = model_ols.fit()
    coef = results.params
    coef_df[i]=coef

In [8]:
# show the data
coef_df

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
Intercept,1.000000e+00,1.307692,1.897436,1.461538,1.333333,2.102564,1.538462,1.333333,1.897436,1.769231,...,1.897436,1.641026,1.717949,1.846154,1.230769,1.384615,1.538462,1.358974,1.102564,1.692308
A1,1.666667e+00,0.435897,0.854701,0.487179,-1.444444,1.145299,0.846154,2.222222,1.521368,0.589744,...,0.521368,2.324786,1.017094,0.948718,0.410256,0.461538,0.846154,0.675214,-0.854701,0.230769
A2,2.164935e-15,0.435897,0.854701,0.487179,0.888889,1.478632,0.846154,-0.111111,0.521368,1.256410,...,1.188034,0.658120,0.683761,0.282051,0.410256,0.461538,0.846154,0.341880,0.478632,0.897436
A3,-6.666667e-01,0.435897,0.188034,0.487179,1.888889,-0.521368,-0.153846,-0.777778,-0.145299,-0.076923,...,0.188034,-1.341880,0.017094,0.615385,0.410256,0.461538,-0.153846,0.341880,1.478632,0.564103
B1,6.666667e-01,1.820513,1.282051,2.897436,2.333333,1.384615,2.102564,1.000000,0.948718,1.051282,...,0.948718,1.487179,0.025641,1.256410,0.615385,0.692308,1.435897,1.846154,0.717949,1.512821
B2,3.333333e-01,-0.512821,0.615385,-1.435897,-1.000000,0.717949,-0.564103,0.333333,0.948718,0.717949,...,0.948718,0.153846,1.692308,0.589744,0.615385,0.692308,0.102564,-0.487179,0.384615,0.179487
C1,1.000000e+00,-1.397436,0.465812,0.820513,0.944444,1.200855,-0.153846,0.444444,0.799145,0.089744,...,0.882479,-0.036325,0.822650,1.448718,-0.256410,0.461538,1.596154,1.036325,0.200855,0.064103
C2,5.000000e-01,1.852564,0.465812,0.820513,0.944444,0.950855,0.346154,0.944444,1.549145,0.339744,...,0.632479,0.963675,0.572650,1.448718,1.743590,0.461538,1.596154,1.536325,1.700855,0.564103
C3,-5.000000e-01,0.852564,0.965812,-0.179487,-0.555556,-0.049145,1.346154,-0.055556,-0.450855,1.339744,...,0.382479,0.713675,0.322650,-1.051282,-0.256410,0.461538,-1.653846,-1.213675,-0.799145,1.064103

In [9]:
#once it is a DataFrame, we can already save it and continue to analyse in Excel
coef_df.to_excel("coef_survey.xlsx")